source/pug/pages/404.pug
extends ../main/base

block variables
    -let title = 'catalog'
    -let nav = true;

block content
    .catalog
        .catalog__inner
            .catalog__lost 
                .catalog__lost--image
                    <img src='/images/404.png'>
                .catalog__lost--container
                    .catalog__lost--heading OOPS...
                    .catalog__lost--subheading ФАЙЛ НЕ НАЙДЕН
                    .catalog__lost--text.
                        Возможно он был перемещен либо удален.
                        Воспользуйтесь поиском по MEDIA-каталогу.

dist/404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>MEDIABASE - catalog</title>
    <meta charset="utf-8">
    <meta name="keywords">
    <meta name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico"><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/main.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="nav__inner"><a class="nav__logo" href="/">
          <div class="nav__logo--name"><img src='/images/logo.svg'></div>
          <div class="nav__logo--heading">MEDIA<span>КАТАЛОГ</span></div></a>
        <div class="nav__search">
          <input type="text" placeholder="ПОИСК ПО МЕДИАКАТАЛОГУ">
          <div class="nav__search--action"><img src='/images/search.svg'><img src="/images/close.svg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="catalog">
      <div class="catalog__inner">
        <div class="catalog__lost"> 
          <div class="catalog__lost--image"><img src='/images/404.png'></div>
          <div class="catalog__lost--container">
            <div class="catalog__lost--heading">OOPS...</div>
            <div class="catalog__lost--subheading">ФАЙЛ НЕ НАЙДЕН</div>
            <div class="catalog__lost--text">
              Возможно он был перемещен либо удален.
              Воспользуйтесь поиском по MEDIA-каталогу.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__copy">Choice © 2004 - 2019</div>
        <div class="footer__partners"><a class="footer__partners--item" href="#"><img src='/images/f1.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f2.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f3.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f4.svg'></a></div>
      </div>
    </div>
  </body>
</html>
