dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>MEDIABASE - main</title>
    <meta charset="utf-8">
    <meta name="keywords">
    <meta name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico"><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/main.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="main__top">
        <div class="main__top--bg"><img src='/images/main__bg.png'></div>
        <div class="main__top--container">
          <div class="main__logo">
            <div class="main__logo--name"><img src='/images/logo.svg'></div>
            <div class="main__logo--heading">MEDIA<span>КАТАЛОГ</span></div>
          </div>
          <div class="main__content">
            <div class="main__content--text">
              <bold>MEDIA</bold>КАТАЛОГ - это удобный способ получить все необходимые файлы для рекламы, продвижения и продажи нашей продукции в интернете или через соцсети. 
              <hr>
              Ознакомьтесь. Скачайте. Используйте!
            </div><a class="main__content--action" href="/catalog.html">
              <div class="main__content--textlink">ПЕРЕЙТИ К КАТАЛОГУ ФАЙЛОВ</div>
              <div class="main__content--linkarrow"><img src='/images/arrow.svg'></div></a>
          </div>
        </div>
      </div>
      <div class="main__inner">
        <div class="main__contentinner"> 
          <div class="main__types">
            <div class="main__types--heading">Все файлы в одном месте.</div>
            <div class="main__types--text">Находите нужные файлы быстро и просто благодаря удобной и понятной сортировке по категориям и типам файлов.</div>
            <div class="main__types--items"><a class="main__types--item" href="/catalog.html">
                <div class="main__types--icon"><img src='/images/photo.svg'></div>
                <div class="main__types--type">ФОТО</div></a><a class="main__types--item" href="/catalog.html">
                <div class="main__types--icon"><img src='/images/video.svg'></div>
                <div class="main__types--type">ВИДЕО</div></a><a class="main__types--item" href="/catalog.html">
                <div class="main__types--icon"><img src='/images/docs.svg'></div>
                <div class="main__types--type">ФАЙЛЫ</div></a></div>
          </div>
          <div class="main__formats">
            <div class="main__formats--heading">Файлы доступны в исходном формате</div>
            <div class="main__formats--text">Скачивайте исходные файлы, редактируйте их, адаптируйте для получения необходимых вам результатов, либо пользуйтесь готовыми и оптимизированными фотографиями, видеозаписями и файлами.</div>
            <div class="main__formats--container">
              <div class="main__formats--item"><img src='/images/jpg.svg'></div>
              <div class="main__formats--item"><img src='/images/pdf.svg'></div>
              <div class="main__formats--item"><img src='/images/ppt.svg'></div>
              <div class="main__formats--item"><img src='/images/zip.svg'></div>
              <div class="main__formats--item"><img src='/images/doc.svg'></div>
              <div class="main__formats--item"><img src='/images/psd.svg'></div>
            </div>
          </div>
          <div class="main__questions">
            <div class="main__questions--container">
              <div class="main__questions--heading">Появились вопросы?</div>
              <div class="main__questions--text">Пишите Нам на электронную почту, и мы ответим на них!</div>
              <div class="main__illustration"><img src="/images/illustration.png" alt=""></div>
            </div><a class="main__questions--action" href="mailto:media@choice.ua">media@choice.ua</a>
          </div>
        </div>
        <div class="main__illustration"><img src="/images/illustration.png" alt=""></div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__copy">Choice © 2004 - 2019</div>
        <div class="footer__partners"><a class="footer__partners--item" href="#"><img src='/images/f1.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f2.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f3.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f4.svg'></a></div>
      </div>
    </div>
  </body>
</html>

source/pug/pages/index.pug
extends ../main/base

block variables
	-let title = 'main'

block content
	.main
		.main__top
			.main__top--bg
				<img src='/images/main__bg.png'>
			.main__top--container
				.main__logo
					.main__logo--name
						<img src='/images/logo.svg'>
					.main__logo--heading.
						MEDIA<span>КАТАЛОГ</span>
				.main__content
					.main__content--text.
						<bold>MEDIA</bold>КАТАЛОГ - это удобный способ получить все необходимые файлы для рекламы, продвижения и продажи нашей продукции в интернете или через соцсети. 
						<hr>
						Ознакомьтесь. Скачайте. Используйте!
					a(href='/catalog.html').main__content--action
						.main__content--textlink ПЕРЕЙТИ К КАТАЛОГУ ФАЙЛОВ
						.main__content--linkarrow
							<img src='/images/arrow.svg'>
		.main__inner
			.main__contentinner 
				.main__types
					.main__types--heading Все файлы в одном месте.
					.main__types--text.
						Находите нужные файлы быстро и просто благодаря удобной и понятной сортировке по категориям и типам файлов.
					.main__types--items
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/photo.svg'>
							.main__types--type ФОТО
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/video.svg'>
							.main__types--type ВИДЕО
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/docs.svg'>
							.main__types--type ФАЙЛЫ
				.main__formats
					.main__formats--heading Файлы доступны в исходном формате
					.main__formats--text Скачивайте исходные файлы, редактируйте их, адаптируйте для получения необходимых вам результатов, либо пользуйтесь готовыми и оптимизированными фотографиями, видеозаписями и файлами.
					.main__formats--container
						.main__formats--item
							<img src='/images/jpg.svg'>
						.main__formats--item
							<img src='/images/pdf.svg'>
						.main__formats--item
							<img src='/images/ppt.svg'>
						.main__formats--item
							<img src='/images/zip.svg'>
						.main__formats--item
							<img src='/images/doc.svg'>
						.main__formats--item
							<img src='/images/psd.svg'>
				.main__questions
					.main__questions--container
						.main__questions--heading Появились вопросы?
						.main__questions--text Пишите Нам на электронную почту, и мы ответим на них!
						.main__illustration
							img(src="/images/illustration.png", alt="")
					a(href='mailto:media@choice.ua').main__questions--action media@choice.ua
			.main__illustration
				img(src="/images/illustration.png", alt="")
