source/pug/pages/search.pug
extends ../main/base

block variables
    -let title = 'catalog search'
    -let nav = true;

block content
    .catalog
        .catalog__inner
            .catalog__nav
                a(href='#').catalog__nav--item
                    .catalog__nav--icon 
                        <img src='/images/new.svg'>
                    .catalog__nav--text.catalog__nav--text_bold НОВОЕ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/photo.svg'>
                    .catalog__nav--text.catalog__nav--text_bold  ФОТО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/video.svg'>
                    .catalog__nav--text ВИДЕО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/docs.svg'>
                    .catalog__nav--text ДОКУМЕНТЫ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/other.svg'>
                    .catalog__nav--text ДРУГОЕ
            .catalog__main
                .catalog__search Результаты поиска
                .catalog__list
                    each i in range(3)
                        .catalog__list--item 
                            a(href='#').catalog__list--photo
                                <img src='/images/folderbig.svg'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--icon
                                    <img src='/images/types/typefolder.svg'>
                                .catalog__list--name Осеннее спецпедложение
                                .catalog__list--tooltip   Осеннее спецпедложение  

                    each i in range(10)
                        .catalog__list--item
                            a(href='#').catalog__list--download
                                <img src='/images/types/download.svg'>
                            a(href='#').catalog__list--photo
                                <img src='/images/item.png'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--icon
                                    <img src='/images/types/typephoto.svg'>
                                .catalog__list--name Осеннее спецпедложение
                                .catalog__list--tooltip   Осеннее спецпедложение  Осеннее спецпедложение

dist/search.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>MEDIABASE - catalog search</title>
    <meta charset="utf-8">
    <meta name="keywords">
    <meta name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico"><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/main.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="nav__inner"><a class="nav__logo" href="/">
          <div class="nav__logo--name"><img src='/images/logo.svg'></div>
          <div class="nav__logo--heading">MEDIA<span>КАТАЛОГ</span></div></a>
        <div class="nav__search">
          <input type="text" placeholder="ПОИСК ПО МЕДИАКАТАЛОГУ">
          <div class="nav__search--action"><img src='/images/search.svg'><img src="/images/close.svg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="catalog">
      <div class="catalog__inner">
        <div class="catalog__nav"><a class="catalog__nav--item" href="#">
            <div class="catalog__nav--icon">
               <img src='/images/new.svg'></div>
            <div class="catalog__nav--text catalog__nav--text_bold">НОВОЕ</div></a><a class="catalog__nav--item" href="#">
            <div class="catalog__nav--icon"><img src='/images/photo.svg'></div>
            <div class="catalog__nav--text catalog__nav--text_bold"> ФОТО</div></a><a class="catalog__nav--item" href="#">
            <div class="catalog__nav--icon"><img src='/images/video.svg'></div>
            <div class="catalog__nav--text">ВИДЕО</div></a><a class="catalog__nav--item" href="#">
            <div class="catalog__nav--icon"><img src='/images/docs.svg'></div>
            <div class="catalog__nav--text">ДОКУМЕНТЫ</div></a><a class="catalog__nav--item" href="#">
            <div class="catalog__nav--icon"><img src='/images/other.svg'></div>
            <div class="catalog__nav--text">ДРУГОЕ</div></a></div>
        <div class="catalog__main">
          <div class="catalog__search">Результаты поиска</div>
          <div class="catalog__list">
            <div class="catalog__list--item"> <a class="catalog__list--photo" href="#"><img src='/images/folderbig.svg'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typefolder.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  </div>
              </div>
            </div>
            <div class="catalog__list--item"> <a class="catalog__list--photo" href="#"><img src='/images/folderbig.svg'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typefolder.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  </div>
              </div>
            </div>
            <div class="catalog__list--item"> <a class="catalog__list--photo" href="#"><img src='/images/folderbig.svg'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typefolder.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  </div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
            <div class="catalog__list--item"><a class="catalog__list--download" href="#"><img src='/images/types/download.svg'></a><a class="catalog__list--photo" href="#"><img src='/images/item.png'></a>
              <div class="catalog__list--bottom" onclick="">
                <div class="catalog__list--icon"><img src='/images/types/typephoto.svg'></div>
                <div class="catalog__list--name">Осеннее спецпедложение</div>
                <div class="catalog__list--tooltip">  Осеннее спецпедложение  Осеннее спецпедложение</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__copy">Choice © 2004 - 2019</div>
        <div class="footer__partners"><a class="footer__partners--item" href="#"><img src='/images/f1.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f2.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f3.svg'></a><a class="footer__partners--item" href="#"><img src='/images/f4.svg'></a></div>
      </div>
    </div>
  </body>
</html>
